APP_BUILD_TYPE_RAM=y
APP_BUILD_TYPE_PURE_RAM_APP=y
APP_NO_BLOBS=y
BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
BOOTLOADER_LOG_LEVEL_VERBOSE=y
LOG_DEFAULT_LEVEL_VERBOSE=y
PARTITION_TABLE_SINGLE_APP=y
COMPILER_OPTIMIZATION_DEBUG=y
COMPILER_OPTIMIZATION_ASSERTIONS_ENABLE=y
COMPILER_CXX_EXCEPTIONS=n
COMPILER_CXX_RTTI=n
IDF_EXPERIMENTAL_FEATURES=n
CONFIG_ETH_ENABLED=y
CONFIG_ESP_WIFI_ENABLED=n
